<div id="banner">
	<div id="bannerimg">
		<%= image_tag("Williamson-Adirondacks.jpg", size: "150x182", alt: "David P. Williamson") %>
	</div>
	<div id="bannertext">
		<h1>David P. Williamson</h1>
		<h2>Cornell University</h2>
		<h3>School of Operations Research and Information Engineering</h3>
	</div>
</div>