<div id="pubnavbar">
<ul>
<li class="bydate"><%= link_to "By Year", bydate_publications_path %></li>
<li class="bycategory"><%= link_to "By Topic", bycategory_publications_path %></li>
<li class="bytype"><%= link_to "By Type", bytype_publications_path %></li>
</ul>
</div>
<br />

